.footer {
    margin-top: 25px;
    font-size: 12px;
}

.heading {
    margin-bottom: 100px;
}

.space {
    margin-top: 30px;
}

.paycheck-details hr {
    margin-top: 50px;
    margin-bottom: 100px;
}

.small-input {
    width: 100px;
}

.checkbox input[type=checkbox] {
    margin-left: 0;
}

hr {
    border-top: 1px solid #555;
}

.checkbox input[type='checkbox'] {
    width:20px;
    height:20px;
    position: inherit;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
