<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{/site.css}" />
    <title>Payroll | Employees</title>
</head>
<body>
<div th:replace="partials/header :: header"></div>
<div class="container">
    <h1>Employees</h1>
    <a href="/employee/new">Add Employee</a>
    <table class="table table-striped">
        <tr class="info">
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Options</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td class="col-md-3" th:text="${employee.fullName}"></td>
            <td class="col-md-3" th:text="${employee.email}"></td>
            <td class="col-md-3 col-sm-2" th:text="${employee.phoneNumber}"></td>
            <td class="col-md-3 col-sm-4">
                <a th:href="@{'/employee/' + ${employee.id} + '/edit/'}">Edit |</a>
                <a th:href="@{'/employee/' + ${employee.id} + '/details/'}"> Paycheck History </a>
            </td>
        </tr>
    </table>
</div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>