<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Payroll | Add Employee</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/site.css}" />
</head>
<body>
<div th:replace="partials/header :: header"></div>
    <div class="container">
        <h1>Add Employee</h1>
        <form action="#" th:action="@{/employee}" th:object="${employee}" method="post">
            <div class="form-group">
                <input type="text" th:field="*{firstName}" placeholder="First Name" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="text" th:field="*{lastName}" placeholder="Last Name" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="email" th:field="*{email}" placeholder="Email" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="text" th:field="*{phoneNumber}" placeholder="Phone Number" class="form-control"/>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-lg btn-primary">Add Employee</button></div>
        </form>
    </div>
<div th:replace="partials/footer :: footer"></div>
</body>
</html>